[Unit]
Description=Listen to udev block change events and copies files from the block device to the internal file system
After=multi-user.target

[Service]
User=max
Type=simple
Restart=always
WorkingDirectory=/home/max/NippelBrett
ExecStartPre=/home/max/NippelBrett/install-requirements.sh
ExecStart=/home/max/NippelBrett/venv/bin/python3 copy_from_usb.py

[Install]
WantedBy=multi-user.target