[Unit]
Description=Detects gpio inputs and plays sound files from the users ~/Music/NippelBrett/ directory
After=multi-user.target

[Service]
#User=max
Type=simple
Restart=always
WorkingDirectory=/home/max/NippelBrett
ExecStartPre=/home/max/NippelBrett/install-requirements.sh
ExecStart=/home/max/NippelBrett/venv/bin/python3 nippel_brett.py

[Install]
WantedBy=multi-user.target
